div {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    -webkit-app-region: drag;
    z-index: 10;
    transition: background-color .2s ease;
    background-color: transparent;
}
.top:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    position: absolute;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-family: sans-serif;
}

html {
    padding: 0;
    margin: 0;
}

webview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.wrapper {
    flex: 1;
    align-items: stretch;
    justify-content: center;
    -webkit-app-region: drag;
}

.button {
    padding: 20px 30px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 200;
    -webkit-app-region: no-drag;
    transition: background-color .2s ease;
    flex-shrink: 0;
}
.button:hover {
    background-color: #ccc;
}

#buttons {
    background-color: white;
    flex: 1;
    padding-top: 20px;
    overflow: auto;
}

.events {
    padding: 0 20px;
}

.welcome {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 5px;
    align-items: center;
    font-size: 14px;
    height: 25px;
}

#user-name {
    font-weight: bold;
    margin-right: 5px;
}

.row {
    display: block;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #aaa;
}
